

<%- include('../../partials/header/main', { home_url, meta, css });  -%>


<main>
	<div class="header">
		<img src="<%= header_img %>" id="page-header-img" alt="page-header">
	</div>

	<div id="500-content" class="section error-page">
		<div class="inner">
				
			<div id="server-message">
				<img src="<%= home_url %>/public/img/error/500.svg">
				
				<% if (!is_production) { %>
				<p> <%= error_message %> </p>
				<% } %>

				<div class="btn-group">
					<a class="btn" href="<%= home_url %>"> Go Home </a>
				</div>
			</div>

		</div>
	</div>

</main>


<%- include('../../partials/footer', { home_url });  -%>